{% extends 'Monitoring/base.html'%}
{% block content %}
<br>
  <h2>Crear Tarjeta</h2>
<form method="POST" action="{% url 'tarjetaCreate' %}">
    {% csrf_token %}
    <br>

    <div class="mb-3">
      <label for="tipo" class="form-label">Tipo:</label>
      <input type="text" name="tipo" class="form-control" id="tipo"  value="{{ form.tipo }}" required>
    </div>
    <div class="mb-3">
      <label for="puntaje" class="form-label">Puntaje:</label>
      <input type="number" name="puntaje" class="form-control" id="puntaje" value="{{ form.puntaje }}" required>
    </div>

    <button type="submit" class="btn btn-success waves-effect waves-light" >Create</button>
    <button type="button" class="btn btn-danger waves-effect waves-light" onclick="window.location.href='{% url 'tarjetaList' %}'"style="background-color: #2271B3; color: white;">Atrás</button>
</form>
{% endblock  %}