{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <h1>Crear Usuario</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                {% endif %}
                {% if field.errors %}
                    <div class="text-danger">
                        {% for error in field.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Crear Usuario</button>
        <a href="{% url 'get_users' %}" class="btn btn-primary">Atrás</a>
    </form>
</div>

{% endblock %}
